* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  font-family: Poppins, Helvetica, sans-serif;
}

body  {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0
}

/*!* Firefox *!*/
/*input[type=number] {*/
/*  -moz-appearance: textfield;*/
/*}*/

/*input[type=number]::-webkit-clear-button {*/
/*  display: none;*/
/*}*/
/*input[type=number]::-webkit-inner-spin-button,*/
/*input[type=number]::-webkit-outer-spin-button {*/
/*  display: none;*/
/*}*/
/*input[type=text]::-webkit-clear-button {*/
/*  display: none !important;*/
/*}*/